Repository evorhard/EvorBrain: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bunx vitest related --run

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write", "bunx vitest related --run"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.css": ["prettier --write"],
  "package.json": ["prettier --write"]
}

🧪 test: enhance TauriMock with better isolation and features
  src/test/utils/tauri-mocks.test.ts
  src/test/utils/tauri-mocks.ts
Due: eslint --fix, prettier --write, bunx vitest related --run

📝 docs: update TASKS.md with test infrastructure progress
  TASKS.md
  src/stores/goalStore.context.test.tsx
Due: eslint --fix, prettier --write, bunx vitest related --run

✅ test: fix createRoot warnings and complete test infrastructure improvements
  TASKS.md
  src/stores/lifeAreaStore.factory.test.ts
Due: eslint --fix, prettier --write, bunx vitest related --run

🙈 chore: add test-results.json to .gitignore
  .gitignore
Due: none

✅ test: complete Life Area component tests (P2.1.T.1)
  TASKS.md
  src/components/features/LifeAreaList.factory.test.tsx
Due: eslint --fix, prettier --write, bunx vitest related --run

📝 docs: update README with testing improvements
  README.md
Due: prettier --write

📝 docs: remove ⚠️ warnings from P2.1.T test tasks
  TASKS.md
Due: prettier --write

✅ test: implement comprehensive Goal component tests with factory pattern
  TASKS.md
  src/components/features/goals/GoalList.factory.test.tsx
  src/components/features/goals/GoalUI.test.tsx
  src/components/features/goals/GoalValidation.test.tsx
  src/stores/goalStore.context.test.tsx
  src/stores/goalStore.factory.test.ts
  src/stores/goalStore.factory.ts
  src/test/utils/tauri-mocks.test.ts
  src/test/utils/tauri-mocks.ts
Due: eslint --fix, prettier --write, bunx vitest related --run

🧪 test: add GoalsPage component tests with factory pattern
  src/components/features/goals/GoalsPage.factory.test.tsx
Due: eslint --fix, prettier --write, bunx vitest related --run

📝 docs: mark Goal component tests as completed with 94 tests passing
  TASKS.md
Due: prettier --write

✅ test: complete Life Area component tests with factory pattern (P2.1.T.1)
  TASKS.md
  src/components/features/LifeAreasPage.factory.test.tsx
Due: eslint --fix, prettier --write, bunx vitest related --run

📝 docs: add performance optimization tasks to address startup delays
  TASKS.md
Due: prettier --write

✅ test: add comprehensive test suite for Project components
  TASKS.md
  src/components/features/projects/ProjectForm.factory.test.tsx
  src/components/features/projects/ProjectList.factory.test.tsx
  src/components/features/projects/ProjectUI.test.tsx
  src/components/features/projects/ProjectValidation.test.tsx
  src/components/features/projects/ProjectsPage.factory.test.tsx
  src/stores/projectStore.factory.test.ts
  src/stores/projectStore.factory.ts
Due: eslint --fix, prettier --write, bunx vitest related --run

🎨 style: apply linting and formatting fixes to Project test files
  src/components/features/projects/ProjectForm.factory.test.tsx
  src/components/features/projects/ProjectList.factory.test.tsx
  src/components/features/projects/ProjectUI.test.tsx
  src/components/features/projects/ProjectValidation.test.tsx
  src/components/features/projects/ProjectsPage.factory.test.tsx
  src/stores/projectStore.factory.ts
Due: eslint --fix, prettier --write, bunx vitest related --run

✨ feat: add create and edit functionality for Life Areas
  src/App.tsx
  src/components/features/LifeAreaForm.tsx
  src/components/features/LifeAreaList.tsx
  src/components/features/LifeAreasPage.tsx
  src/components/features/index.ts
Due: eslint --fix, prettier --write, bunx vitest related --run

🐛 fix: resolve null reference error when creating life areas in dev mode
  src/components/features/LifeAreaList.tsx
  src/lib/tauriCheck.ts
Due: eslint --fix, prettier --write, bunx vitest related --run

✅ test: implement comprehensive Task component tests with factory pattern
  TASKS.md
  src/components/features/LifeAreaForm.tsx
  src/components/features/LifeAreaList.tsx
  src/components/features/LifeAreasPage.tsx
  src/components/features/goals/GoalList.factory.test.tsx
  src/components/features/goals/GoalUI.test.tsx
  src/components/features/goals/GoalValidation.test.tsx
  src/components/features/tasks/TaskDetail.factory.test.tsx
  src/components/features/tasks/TaskForm.factory.test.tsx
  src/components/features/tasks/TaskList.factory.test.tsx
  src/lib/tauriCheck.ts
  src/stores/goalStore.factory.test.ts
  src/stores/goalStore.factory.ts
  src/stores/projectStore.factory.test.ts
  src/stores/taskStore.factory.test.ts
  src/stores/taskStore.factory.ts
Due: eslint --fix, prettier --write, bunx vitest related --run

🐛 fix: correct goal field names from 'name' to 'title' to match backend schema
  src/components/features/goals/GoalForm.tsx
  src/components/features/goals/GoalList.tsx
  src/stores/goalStore.context.tsx
Due: eslint --fix, prettier --write, bunx vitest related --run

🔧 chore: add Rust cache cleaning commands for development
  package.json
Due: prettier --write

📝 docs: add troubleshooting guide for development issues
  README.md
Due: prettier --write

🔧 chore: fix clean script to preserve Cargo.lock file
  scripts/clean.sh
  src-tauri/Cargo.lock
Due: none

🧑‍💻 chore: simplify dev commands by replacing clean with rebuild
  README.md
  package.json
Due: prettier --write

🐛 fix: delete functionality for life areas and goals
  src/components/features/LifeAreaList.tsx
  src/components/features/goals/GoalForm.tsx
  src/components/features/goals/GoalList.tsx
  src/components/features/projects/ProjectList.tsx
  src/components/ui/Button.tsx
  src/components/ui/ConfirmDialog.tsx
  src/components/ui/DropdownMenu.tsx
  src/components/ui/Modal.tsx
  src/lib/tauriCheck.ts
  src/stores/goalStore.context.tsx
Due: eslint --fix, prettier --write, bunx vitest related --run

✨ feat: implement task management with project assignment
  src/App.tsx
  src/components/features/projects/ProjectForm.tsx
  src/components/features/projects/ProjectList.tsx
  src/components/features/tasks/TaskForm.tsx
  src/components/features/tasks/TaskList.tsx
  src/lib/tauriCheck.ts
Due: eslint --fix, prettier --write, bunx vitest related --run

🚨 fix: resolve ESLint warnings in tauriCheck.ts
  src/lib/tauriCheck.ts
Due: eslint --fix, prettier --write, bunx vitest related --run

📝 docs: add Note-Taking System tasks to project roadmap
  TASKS.md
Due: prettier --write

✅ test: add comprehensive integration tests for all stores
  TASKS.md
  src/lib/api/test-double.ts
  src/stores/cross-store.integration.test.ts
  src/stores/goalStore.factory.ts
  src/stores/goalStore.integration.test.ts
  src/stores/lifeAreaStore.factory.ts
  src/stores/lifeAreaStore.integration.test.ts
  src/stores/projectStore.factory.ts
  src/stores/projectStore.integration.test.ts
  src/stores/taskStore.factory.ts
  src/stores/taskStore.integration.test.ts
  src/stores/types.ts
Due: eslint --fix, prettier --write, bunx vitest related --run

🎨 style: apply Prettier formatting to codebase
  src/App.tsx
  src/components/features/goals/GoalList.tsx
  src/components/features/projects/ProjectForm.tsx
  src/components/features/tasks/TaskForm.tsx
  src/components/ui/ConfirmDialog.tsx
  src/lib/api/test-double.ts
  src/lib/tauriCheck.ts
  src/stores/cross-store.integration.test.ts
  src/stores/goalStore.integration.test.ts
  src/stores/lifeAreaStore.integration.test.ts
  src/stores/projectStore.integration.test.ts
  src/stores/taskStore.factory.ts
  src/stores/taskStore.integration.test.ts
  src/stores/types.ts
Due: eslint --fix, prettier --write, bunx vitest related --run

✅ test: add comprehensive archiving functionality tests
  TASKS.md
  src/components/ui/ArchiveDialog.test.tsx
  src/components/ui/ArchivedIndicator.test.tsx
  src/components/ui/ConfirmDialog.test.tsx
  src/lib/api/test-double.ts
  src/stores/archiving.test.ts
Due: eslint --fix, prettier --write, bunx vitest related --run

✅ test: complete testing infrastructure with comprehensive provider support
  README.md
  TASKS.md
  src/components/features/goals/GoalsPage.test.tsx
  src/test/setup.ts
  src/test/utils/README.md
  src/test/utils/render-helpers.tsx
Due: eslint --fix, prettier --write, bunx vitest related --run
